@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>

<p>It really is important to keep track of how you are spending your money. It is the first step to understanding how you are managing your money, and to taking control of your finances. It may seem like a lot of work when you first begin, but you can make it as simple or complicated as you want to. Tracking your expenses can help you stop feeling like you have little to show for your hard work.</p>
