@{
    ViewData["Title"] = "Home Page";
}




    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Watch a short  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> youtube video about <a href="https://www.youtube.com/watch?v=j1Vwth0B8I8" target="_blank">The Importance of Budgeting</a>.</p>

      
        
        <header>
            <h2>
                Featured Collections
                <small>Download and print today</small>
            </h2>

            <a href="#">
                see more
            </a>

        </header> 

                <div class="row justify justify-content-center">
                    <div>
                        <img src="https://cdn.thingiverse.com/renders/54/db/fe/ed/1a/corkpals_fish_thumb_large.jpg" />

                        <p>
                            Cork Pals
                        </p>
                    </div>

                    <div>
                        <img src="https://cdn.thingiverse.com/renders/65/a2/35/fb/e8/7693b3166ebf7beb300b0ff0fd1e59a7_thumb_large.jpg" />

                        <p>
                            Hairy
                        </p>
                    </div>

                    <div>
                        <img src="https://cdn.thingiverse.com/renders/62/8b/82/09/13/c77b00f1ea27c7b213167bb6b5b21e02_thumb_large.jpeg" />

                        <p>
                            Art Class
                        </p>
                    </div>

                    <div>
                        <img src="https://cdn.thingiverse.com/renders/cf/7f/cc/59/08/c288db27e08dc1d93218df98eab593c6_thumb_large.jpg" />

                        <p>
                            BLOOM&amp;GRO
                        </p>
                    </div>
                </div>

                <div class="row justify justify-content-center">
                    <div>
                        <img src="https://cdn.thingiverse.com/renders/46/0a/c3/50/4a/96ad67a20c768a40d1de789e1384024b_thumb_large.JPG" />

                        <p>
                            Travel
                        </p>
                    </div>

                    <div>
                        <img src="https://cdn.thingiverse.com/renders/4e/6e/66/4c/c9/ad87e30916ccdc6f727acd24f517d257_thumb_large.jpg" />

                        <p>
                            Flexi
                        </p>
                    </div>

                    <div>
                        <img src="https://cdn.thingiverse.com/renders/af/01/9b/1c/ec/efc1c5d2a676001cf93d099ca1f7441d_thumb_large.jpg" />

                        <p>
                            SD Card Storage
                        </p>
                    </div>

                    <div>
                        <img src="https://cdn.thingiverse.com/renders/7e/10/fb/da/c4/8a9f005337edde458a254331209be742_thumb_large.jpg" />

                        <p>
                            Benchy
                        </p>
                    </div>
                </div>
            

        
      


    </div>



