
@{
    ViewData["Title"] = "Expense";
}

    <div class="text-center">
        <h1>Expenses Category </h1>

        <form>
            Expense ID:<br>
            <input type="number" id="expenseamount">
            <br>
            Date:<br>
            <input type="date"   id="expenseamount">
            <br>
            Description:<br>
            <input type="text" id="expenseamount">
            <br>
            Amount:<br>
            <input type="number" id="expenseamount">
            <br>

            

            <br />

            Total Expenses:<br />
            <input type="number" id="total">
            <br />

            <br />
            <input type="button" onclick="getTotal()" value="Get Total" />
            <br />
        </form>

        <p>"There is no such thing called Privacy in today's world."</p>

    </div>