
@{
    ViewData["Title"] = "ExpenseAmount";
}

<div class="text-center">
    <h1>Targeted Expense</h1>

    <form>
        Expense Amount:<br>
        <input type="number" id="expenseamount">
        <br>
        Total Expenses:<br>
        <input type="number" id="totalexpenses">
        <br />
        
        <br />

        Remaining Expense Amount:<br />
        <input type="number" id="total">
        <br />

        <br />
        <input type="button" onclick="getTotal()" value="Get Total" />
        <br />
    </form>

    <p>"There is no such thing called Privacy in today's world."</p>

</div>

<script type="text/javascript">
    function getTotal() {

        var first = document.getElementById('expenseamount').value;
        var second = document.getElementById('totalexpenses').value;
       
        var total = parseInt(first) - parseInt(second);

        document.getElementById('total').value = total;
    }
</script>
